<footer class="footer">
  <section class="content has-text-centered">
    <strong>Simple Bog</strong> by <a href="https://github.com/higorbds" target="_blanc">Higor Bueno da Silva</a>. The source code is licensed <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blanc">GNU</a>. The website created for study the Ruby on Rails and bulma.io framework.
  </section>
</footer>