<nav class="container navbar is-size-5 mt-2">
  <div class="navbar-start">
    <h1 class="title">BLOG</h1>
  </div>
  
  <div class="navbar-end navbar-menu">
    
      <%= link_to "Home", root_path, class: "navbar-item" %> 

      <%= link_to "New Article", new_article_path, class: "navbar-item" %> 
  </div>
</nav>